*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

audio{
    height: 50px;
    width: 120px;
}

p{
    text-align: center;
}

hr{
    margin: 30px;
}

.menu{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.titulosLink{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    background-color: plum;
    color: white;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: #a0a1a1 0px 4px 0px;
}

#linha1{
    display: flex;
    position: relative;
    top: 0px;
    left: 400px;
}

#linha2{
    display: flex;
    position: relative;
    top: 75px;
    right: 345px;
}

.titulo{
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.alfabeto{
    color: black;
    font-size: 45px;
    font-weight: bold;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    margin-top: -30px;
}

hr{
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, transparent, #a0a1a1, transparent); 
}

.tituloFamilia{
    margin: 0px 0px 50px;
}

footer{
    margin-bottom: 30px;
}