h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
}

audio{
    height: 50px;
    width: 120px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

#titulo1, #titulo2, #titulo3, #titulo4, #titulo5{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#familia-aiueo, #familia-kakikukeko, #familia-sashisuseso, #familia-tachitsuteto, #familia-naninuneno{
    font-size: 45px;
    font-weight: bold
}

#familia-aiueo, #familia-kakikukeko, #familia-sashisuseso, #familia-tachitsuteto, #familia-naninuneno, a{
	display: grid;
    grid-auto-flow: column;
    text-align: center;
}

hr{
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, transparent, #a0a1a1, transparent); 
}

